<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Krishisahayak</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MaintainenceServlet</display-name>
    <servlet-name>MaintainenceServlet</servlet-name>
    <servlet-class>dao.MaintainenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintainenceServlet</servlet-name>
    <url-pattern>/MaintainenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletServiceDate</display-name>
    <servlet-name>ServletServiceDate</servlet-name>
    <servlet-class>dao.ServletServiceDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletServiceDate</servlet-name>
    <url-pattern>/ServletServiceDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessoryServlet</display-name>
    <servlet-name>AccessoryServlet</servlet-name>
    <servlet-class>dao.AccessoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessoryServlet</servlet-name>
    <url-pattern>/AccessoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceServlet</display-name>
    <servlet-name>PriceServlet</servlet-name>
    <servlet-class>price.PriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceServlet</servlet-name>
    <url-pattern>/PriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuggestionServlet</display-name>
    <servlet-name>SuggestionServlet</servlet-name>
    <servlet-class>dao.SuggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestionServlet</servlet-name>
    <url-pattern>/SuggestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeServlet</display-name>
    <servlet-name>TradeServlet</servlet-name>
    <servlet-class>trade.TradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeServlet</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TradeServlet</servlet-name>
    <url-pattern>/Product.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TradeServlet</servlet-name>
    <url-pattern>/Transcation.do</url-pattern>
  </servlet-mapping>
</web-app>